* {
  font-family: "Roboto", sans-serif;
}


.image-container {
  height: 80%;
  position: relative;
}

.plus,
.cartFull {
  position: absolute;
  top: 3.5px;
  right: 7.5px;
}

.heart {
  position: absolute;
  top: 3.5px;
  left: 7.5px;
}


